@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 640px;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-slate-700;
}
.scroll-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.custom-scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: #bdc3c7 #f8f9fa;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 8px;
}
.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 8px;
}

@media screen and (min-width: 640px) {
}
